<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CRUD in NodeJS</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
  <style>
    body {
      background-color: rgb(237, 228, 160);
    }

    .dv {
      background-color: rgb(104, 178, 218);
      padding: 3px;
      height: auto;
    }

    h1 {
      background-color: azure;
    }
  </style>
</head>

<body>
  <div class="container p-3 my-3">
    <h1 class="my-5">Editar Registro</h1>

    <% data.forEach(function(details) { %>
      <form action="/edit/<%= details._id %>" method="POST" class="form-control">
        <label>Nome: </label>
        <input type="text" value="<%= details.Nome %>" name="Nome">
        <label>Email: </label>
        <input type="text" value="<%= details.Email %>" name="Email">
        <label>Senha: </label>
        <input type="password" value="<%= details.Senha %>" name="Senha">
        <label>Usuario: </label>
        <input type="text" value="<%= details.Usuario %>" name="Usuario">

        <br><br>

        <br />

        <button class="btn btn-success" type="submit">Editar</button>
        <a href="/show"><button type="button" class="btn btn-info">Todos</button></a></button>


      </form>
      <% }) %>
  </div>
</body>

</html>