<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CRUD em NodeJS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>

  <style>
    body {
      background-color: rgb(104, 178, 218)
    }

    thead {
      background-color: rgb(237, 228, 160);
    }

    .dv {
      background-color: rgb(237, 228, 160);
      padding: 3px;
      height: auto;
    }

    tbody {
      background-color: azure;
    }

    h1 {
      background-color: azure;
    }
  </style>
</head>

<body>
  <div class="container p-3 my-3">
    <h1 class="my-5">Registros</h1>
    <table class="table">
      <thead>
        <tr>
          <td>
            <h3>Nome</h3>
          </td>
          <td>
            <h3>Email</h3>
          </td>
          <td>
            <h3>Usuario</h3>
          </td>
          <td>
            <h3>Ação</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(details) { %>
          <tr>
            <td>
              <%= details.Nome %>
            </td>
            <td>
              <%= details.Email %>
            </td>
            <td>
              <%= details.Usuario %>
            </td>
            <td><a href="/edit/<%= details._id %>"> <button type="button" class="btn btn-warning">Editar</button></a> -
              <a href="/delete/<%= details._id %>"><button type="button" class="btn btn-danger">Deletar</button></a>
            </td>
          </tr>
          <% }) %>
      </tbody>

    </table>
    <div class="dv">
      <a href="/"><button type="button" class="btn btn-success">Registrar</button></a></button>
    </div>
  </div>
</body>

</html>